div.st-emotion-cache-6qob1r.eczjsme3 {
    background-color: #d52b1e;
    color:white;

}

div.st-emotion-cache-1vbkxwb.e1nzilvr5 {
    color:white;

}

div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi4 {
    text-align:justify;

}